div.board-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

div.board {
    display: grid;
    grid-template-columns: 50px 50px 50px auto;
}