div.home-container, div.pick-player-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

div.marker-icons{
    display:flex;
    flex-direction:row;
}
@media only screen and (max-width: 768px){
    div.marker-icons img{
        width: 100px;
        height: 100px;
    }
}



div.pick-player-buttons button{
    width:200px;
    margin-bottom:15px;
}